{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Общество с ограниченной ответственностью «PSA Network», имеет честь предложить Вам свои услуги по проектированию и строительству средств телекоммуникаций и информационных технологий, включая следующие приоритетные направления:
- Инженерные изыскания на объекте, разработка технического задания, проектирование, монтаж, пусконаладочные работы и ввод в эксплуатацию комплексов телекоммуникаций, модернизация существующих сетей на объектах государственного, промышленного, культурного, медицинского, спортивного назначения с использованием техники и технологий ведущих фирм;.</p>

{% endblock %}
