{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    Вы можете найти нас так-же в социальных сетях <br />
    <strong>ВКонтакте:</strong>   <a href="https://vk.com/skyled">ВКонтакте</a><br />
    <strong>Instagram:</strong> <a href="https://www.instagram.com/skyled_420/">Инстаграмм</a><br />
    <strong>Контактный телефон/telegram.</strong> <a>+7(921)001-10-96</a>
</address>

{% endblock %}
