<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSA</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />

    
</head>
 
<body>
    <div  class="navbar bg-dark navbar-dark">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"> <img src="{% static 'app/content/Logo-PSA.png ' %}" height="80"  alt="logo" /> </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}" class="wapka">Главная</a></li>
                    <li><a href="{% url 'blog' %}" class="wapka">Блог</a></li>
                    <li><a href="{% url 'links' %}" class="wapka">Ссылки</a></li>
                    <li><a href="{% url 'services' %}" class="wapka">Услуги</a></li>
                    <li><a href="{% url 'contact' %}" class="wapka">Контакты</a></li>
                    <li><a href="{% url 'about' %}" class="wapka">О нас</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'orders' %}" class="wapka">Заявки</a></li>
                    {% endif %}
                    {% if user.is_superuser %} 
                    <li><a href="{% url 'newpost' %}" class="wapka">Новый Блог</a></li> 
                    {% endif %}  
                    
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div>

    <div class="container body-content">
{% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>&copy; {{ year }} - PSA</p>
        </footer>
    </div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}


    

</body>
</html>
